html {
	font-family: 'Source Sans Pro', sans-serif;
	background-color: #639;
}

div {text-align: center;}

body {margin: 8px 8px 8px 32px;}

nav {
	position: fixed;
	top: 0; left: 0;
	width: 24px; height: 100vh;
	display: flex;
	flex-direction: column;
	align-content: stretch;
	align-items: stretch;
	> a {
		color: #fff;
		display: block;
		background-color: #000a;
		text-align: center;
		line-height: 0;
		padding-top: 25vh; 
		padding-bottom: 25vh; 
		text-decoration: none;
		font-size: 24px;
	}
	> a:hover {
		background-color: #0005;
	}
}

main {
	display: flex;
	flex-wrap: wrap;
}